[Unit]
Description=Enviro Station

[Service]
ExecStart=/home/<<USER>>/.virtualenvs/pimoroni/bin/python <<PATH_TO_DEVICE_PROGRAM>>
WorkingDirectory=<<WORKING_DIRECTORY>>
StandardOutput=inherit
StandardError=inherit
Restart=always
User=<<USER>>

[Install]
WantedBy=multi-user.target
